<style>
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
</style>

div {
    display: flex;
    flex-direction: row;
    border: 2px solid #000;
    border-radius: 4px;
    margin: 5px 0 10px 0; 
}

section {
    min-height: 20vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

main{ 
    margin: 40px;
}

.main{ 
    padding-top: 40rem;
}

img{
    width: 100px;
    margin: 5px;
    border-radius: 25%;
    align-items: left;
}

.imagen-presentacion{
    width: 300px;
    border-radius: 50%;
    align-items: left;
    margin-right: 10px;
    margin-top: 50px;
}

.Titulo-grande{
    flex: 1;
    font-style: italic;
    font-family: Comic Sans MS;
    font-size: 50px;
    text-align: center;
    color: #333;
}


.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 85%;
    max-width: 800px;
    margin: 0 auto;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: justify;
    color:#0f0f0f;
    line-height: 1.5;
    margin-bottom: 1.5em;
}

a{
    text-decoration: none;
    text-align: right;
}

body{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.2em;
    background: #e0d2d2;
    margin-left: 10px;
    margin-right: 10%;
    }

h1 {
    text-align: justify;
    font-size: 2rem;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 30px;
}

h2 {
    background-color: plum;
    text-align: justify;
    font-size: 36px;
    line-height: 1em;
    margin-top: 10px;
    margin-bottom: 30px;
}

h3 {
    background-color: rgb(221, 221, 160);
    text-align: justify;
    font-size: 36px;
    line-height: 1em;
}

h4 {
    text-align: center;
    font-size: 36px;
    line-height: 0.5em;
    color:#fbfbfb;
    font-size: 18px;
}

.Boton-1{
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    padding: 3px;
    width: 220px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 80px;
    background: #af599e;
    color: #fbfbfb;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    cursor: pointer;
}

.Boton-1:hover{
    color: #be84b3;
}


header{ 
    display: flex;
    color: black;
    height: 90px;
    background: #59afa1;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

footer{
    display: flex;  
    text-align: center;
    justify-content: center; 
    align-items: center;
    margin-top: 6rem;
    height: 90px;
    background: #59afa1;
    left: 0;
    right: 0;
}

.Pie-de-pagina {
    color:#fbfbfb;
    font-size: 18px;
}

#menu-principal{
    display: flex;
    list-style: none;
}

#menu-principal > li > a {
    color: #000;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    text-size-adjust: 700px;
    font-size: 36px;
    font-weight: bold;
}

#menu-principal li{
    padding: 5px;
    margin-right: 10px;
    color: black;
}

nav{
    width: 60%;
    padding: 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    margin-right: 10px;
}

.nav_items ul{
    margin: 0%;
    padding: 0px;
    color: white;
    list-style: none;
}

.nav_items ul li{
   display: inline-block;
}

.nav_items ul li a{
    display: block;
    padding: 0.5rem 1rem;

 }

a:hover{
    color: peru;
}

.enabled-menu{
    display: block;
}

.disabled-menu{
    display: none;
}

li:hover {
background-color: rgb(216, 30, 148);
}

.botones-contacto{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 90px;
    justify-content: center;
    cursor:pointer;
    margin-top: 70px;
}

button{
    width: 100px;
}

















